package views

templ AgregarSimulacion()    {
        <form class="form" hx-target="#contenido" hx-swap="innerHTML" hx-post="/simulaciones">

            <fieldset>
                <legend>Nueva simulacion</legend>
                
                <label for="nombre">Nombre de la simulacion</label>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre de la simulacion">
                <p>Nota: De momento esta solamente implementado el First come First Serve, FCFS</p>
                <label for="algoritmo">Elegir el algoritmo de planificacion</label>
                <select id="algoritmo" name="algoritmo" hx-get="/algoritmo/opciones" hx-target="#opciones-extra" hx-trigger="change"  hx-swap="innerHTML">
                    <option value="first_come_first_serve">First come First Serve</option>
                    <option value="round_robin">Round Robin</option>
                    <option value="priority">Prioridad</option>
                </select>
                <div id="opciones-extra">

                </div>
              
                <button type="submit" class="button">Enviar</button>
            </fieldset>
        </form>

}