package views

import (
    "strconv"
    "scheduler_os/backend/db/sqlc"
)

templ ListarProcesos(procesos []db.Proceso) {
    <section id="lista-procesos" >
            if len(procesos) == 0{
                <h3> No hay procesos </h3>
            } else {

                for _, proceso := range procesos {
                    <article class="card">
                        <h2>{ proceso.Nombre }</h2>

                        <ul class="card-footer">
                            <li>Prioridad: { proceso.Prioridad }</li>
                            <li>Burst Time:{ proceso.BurstTime }</li>
                            <li>Arrival Time{ proceso.ArrivalTime }</li>
                            <li>Estado: { proceso.Estado }</li>
                                <button 
                                    hx-delete={"/procesos/" + strconv.Itoa(int(proceso.ID))} 
                                    hx-target="closest article" 
                                    hx-swap="delete"
                                    class="button"
                                > 
                                    Borrar
                                </button> <!--El  hx-swap debe ser delete segun dice la documenacion, usando outerHTML se duplicaba el layout-->
                        </ul>

                    </article>
                }
            }
    </section>
                      
}