package views

import (
    "strconv"
    "scheduler_os/backend/db/sqlc"
)

templ ListarProcesos(procesos []db.Proceso, estado string) {
    <section id="listado-procesos" >
            if estado != "" {
                <h2> Procesos en estado: { estado } </h2>
            } else {
                <h2> Listado de Procesos </h2>
            }
            if len(procesos) == 0{
                <h3> No hay procesos </h3>
            } else {

                for _, proceso := range procesos {
                    <article class="card" >
                        <h2>{ proceso.Nombre }</h2>

                        <ul class="card-footer">
                            <li>Prioridad: { proceso.Prioridad }</li>
                            <li>Burst Time:{ proceso.BurstTime }</li>
                            <li>Arrival Time: { proceso.ArrivalTime }</li>
                            <li>Estado: { proceso.Estado }</li>
                            <li>Id simulacion: { proceso.IDSimulacion }</li>
                            if proceso.Estado == "terminated" {
                                <li>Tiempo de espera: { proceso.WaitingTime.Int32 }</li>
                                <li>Tiempo de finalizacion: { proceso.CompletionTime.Int32 }</li>
                            }
                        </ul>
                        <button
                            type="button"
                            hx-delete={"/procesos/" + strconv.Itoa(int(proceso.ID))}
                            hx-confirm="¿Seguro?"
                            hx-target="closest article"
                            hx-swap="delete"
                        >

                            Borrar
                        </button> <!--El  hx-swap debe ser delete segun dice la documenacion, usando outerHTML se duplicaba el layout-->
                    </article>
                }
            }
    </section>
                      
}