package views

templ EstadisticasView() {
    <section id="estadisticas">
        <h2>Estadísticas de la Simulación</h2>
        <section class="estadistica-item">
            <h3>Tiempo de procesamiento</h3>
            <p>Aquí se mostrará el tiempo promedio de procesamiento.</p>
        </section>
        <section class="estadistica-item">
            <h3>Context switches</h3>
            <p>Aquí se mostrará el número de cambios de contexto durante la simulación.</p>
        </section>
        <section class="estadistica-item">
            <h3>Algoritmo</h3>
            <p>Aquí se mostrará el algoritmo utilizado durante la simulación.</p>
        </section>
    </section>
}



