<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduler Web Interface</title>
</head>
<body>
    <main>
        <h1>Scheduler Web Interface</h1>
        <p>
            Bienvenido al sitio web de scheduler interface, aqui podrás profundizar tu aprendizaje 
            sobre los distintos algoritmos de planificación que utiliza el sistema operativo para gestionar los procesos de tu computadora. 
            Para fines didacticos permitiremos la creación de procesos mediante formulario, la edición unicamente de los procesos nuevos y la eliminación
            de los procesos nuevos, con el fin de no perder el objetivo principal que es entender cómo sería una simulación semi realista
            de dichos algoritmos. 
        </p>
    </main>
</body>
</html>