package views 

templ CrearGrafo() {
    <section id="grafo">
        <section class="card-container">

            <article class="card">
                <header class="card-header"><h3>New</h3></header>
                <footer class="card-footer">
                    <ul>
                        <li>
                            <a href="/procesos?estado=new" class="button">Ver más</a>
                        </li>
                
                    </ul>
                </footer>
            </article>
            <div class="ready-vs-waiting">

                <article class="card">
                    <header class="card-header"><h3>Ready</h3></header>
                    <footer class="card-footer">
                        <ul>
                            <li>
                                <a href="/procesos?estado=ready" class="button">Ver más</a>
                            </li>
                    
                        </ul>
                    </footer>
                </article>
                <article class="card">
                    <header class="card-header"><h3>Waiting</h3></header>
                    <footer class="card-footer">
                        <ul>
                            <li>
                                <a href="/procesos?estado=waiting" class="button">Ver más</a>
                            </li>
                        
                        </ul>
                    </footer>
                </article>
            </div>
            <article class="card">
                <header class="card-header"><h3>Running</h3></header>
                <footer class="card-footer">
                    <ul>
                        <li>
                            <a href="/procesos?estado=running" class="button">Ver más</a>
                        </li>
                    
                    </ul>
                </footer>
            </article>
            <article class="card">
                <header class="card-header"><h3>Terminated</h3></header>
                <footer class="card-footer">
                    <ul>
                        <li>
                            <a href="/procesos?estado=terminated" class="button">Ver más</a>
                        </li>
                 
                    </ul>
                </footer>
            </article>
        </section>
        <section class="start-section">
            <a href="/ejecutar_simulacion" class="button" id="comenzar">Comenzar</a>
        </section>
    </section>
}