package views

import db "scheduler_os/backend/db/sqlc"

templ HomeView(procesos []db.Proceso) {
    <section id="grafo">
        @CrearGrafo()
    </section>

    <section id="procesos-list">
        @ListarProcesos(procesos)
    </section>
}
