package views
templ StaticLayout(contenido templ.Component) {
    <!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Scheduler Web Interface</title>
            <link rel="stylesheet" href="/static/css/pico.css">
            <script src="https://unpkg.com/htmx.org@1.9.10"></script> <!--Agrega htmx-->
        </head>
        <body>
            <header class="encabezado">
                <h1>Scheduler Web Interface</h1>
                <nav>
                    <ul>
                        <li><a href="/listado" class="menu-option">Procesos</a></li>
                        <li><a id="btn-add" class="menu-option" href="/agregar">Agregar Proceso</a></li>
                        <li><a href="/algoritmo" class="menu-option">Elegir Algoritmo</a></li>
                        <li><a href="/estadisticas" class="menu-option">Estadísticas</a></li> 
                    </ul>
                </nav>
            </header>
            <main>
                    @contenido

            </main>
        </body>
    </html>
}