package views

import (
    db "scheduler_os/backend/db/sqlc"
    "strconv"
)
templ ListarSimulaciones(simulaciones []db.Simulacion, procesos []db.Proceso) {
    <section id="listado-simulaciones" >
            <h2> Listado de Simulaciones </h2>
            if len(simulaciones) == 0{
                <h3> No hay simulaciones </h3>
            } else {

                for _, simulacion := range simulaciones {
                    <article class="card" >
                        <h2>Simulación ID: { simulacion.ID }</h2>

                        <ul class="card-footer">
                            <li>Nombre: { simulacion.Nombre }</li>
                            <li>Algoritmo: { simulacion.Algoritmo }</li>
                            if simulacion.Quantum.Valid {
                            <li>Quantum: { simulacion.Quantum.Int32 }</li>
                            }
                            if simulacion.Prioridad.Valid {
                                <li>Prioridad: { simulacion.Prioridad.Int32 }</li>
                            }
                            <li>Tiempo de Proceso: { simulacion.ProcessTime }</li>
                            <li>Tiempo de Despacho: { simulacion.DispatchLatency }</li>
                            <li>Tiempo Promedio de Turnaround: { simulacion.AverageTurnaroundTime }</li>
                            <li>Tiempo Promedio de Waiting time: { simulacion.AverageWaitingTime }</li>
                            <li>Rendimiento Promedio/Throughput: { simulacion.AverageThroughput }</li>
                            <li>Cambios: { simulacion.ContextSwitches }</li>
                               
                        </ul>
                        <!--
                        <details> 

                            <summary>Ver Listado de procesos</summary>
                            @ListarProcesos(procesos, "")
                        </details>
                        -->
                        <button
                            type="button"
                            hx-get={"/simulaciones/" + strconv.Itoa(int(simulacion.ID))}
                            hx-target="#listado-simulaciones"
                            hx-swap="outerHTML"
                        >
                            Ver Estadísticas
                        </button> <!--El  hx-swap debe ser delete segun dice la documenacion, usando outerHTML se duplicaba el layout-->
                    </article>
                }
            }
    </section>
                      
}